@import "api/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: lighten($body-bg, 50%);
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: $body-bg;

    .centered-content {
        display: flex;
        flex-direction: column;
        margin: auto;

        .line {
            display: flex;
            margin: 0 0 8px 0;
            width: 100%;
            height: 70px;

            .left, .right {
                display: flex;
                width: auto;
                height: 100%;
            }

            .left {
                margin: 0 auto 0 0;
            }

            .right {
                margin: 0 0 0 auto;
            }

            .case {
                position: relative;
                display: flex;
                margin: 4px;
                flex-direction: column;
                width: 64px;
                height: 100%;
                background-color: lighten($body-bg, 3%);
                cursor: pointer;
                overflow: hidden;

                &.empty {
                    background-color: transparent;
                }
                
                span {
                    position: absolute;
                    
                    
                    &.mar {
                        right: 2px;
                        top: 2px;
                        font-size: .5rem;
                    }
                    
                    &.atomic-number {
                        top: 2px;
                        left: 3px;
                        font-weight: 600;
                        font-size: .6875rem;
                    }

                    &.element-name {
                        width: 100%;
                        text-align: center;
                        bottom: 2px;
                        font-size: .5rem;
                        text-transform: uppercase;
                    }
                }

                h1 {
                    position: relative;
                    margin: auto;
                    font-size: 1.5rem;

                    &.white {
                        color: $color;
                    }
                }
            }
        }
    }
}